.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.custom-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #2980b9;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #333;
}
.error-message {
  color: red;
  font-size: 1.0em; /* Adjust the font size as needed */
  /* Additional styling properties as per your design */
}
